# Python bytecode
**/__pycache__/
*.pyc

# Virtuelle miljøer
env/
venv/

# SQLite database
db.sqlite3

# Loggfiler
*.log

# Editor-spesifikke filer
.vscode/

# Mac og Windows-systemfiler
.DS_Store
Thumbs.db

# Testfiler (hvis du har noen)
*.test
